In [2]:
# Importing libraries 
import pandas as pd 
from pathlib import Path
import os

In [3]:
place = str (Path(os.getcwd())) + '\\data\\data.csv' # finding database
data = pd.read_csv(place, sep='\t')                  # opening database

In [4]:
data.head(100)

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,Q91E,country,dateload,introelapse,testelapse,surveyelapse,gender,engnat,age,IE
0,5,51,7107,3,91,2522,1,56,6180,2,...,4609,US,2019-02-20 17:35:52,1,461,16,2,1,23,3
1,5,39,6354,5,13,3092,1,12,5243,5,...,10409,AU,2019-02-20 17:46:32,21,467,15,1,2,25,2
2,3,17,5397,4,35,2747,5,40,5262,3,...,2691,BR,2019-02-20 18:10:24,56,306,17,1,2,19,1
3,5,41,3055,2,14,3348,1,13,5141,1,...,3697,CZ,2019-02-20 18:16:21,2,287,14,1,1,23,1
4,1,76,2542,2,54,1878,1,15,5637,1,...,1662,CA,2019-02-20 18:21:49,2,325,12,1,1,18,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,51,5755,1,68,2571,4,61,7700,5,...,4088,US,2019-02-22 06:49:53,2,367,14,1,1,25,1
96,5,4,4023,5,79,2561,5,60,5478,5,...,5587,PE,2019-02-22 07:29:19,3,395,23,2,2,29,1
97,2,83,2076,5,91,1767,2,71,5729,4,...,2458,AU,2019-02-22 07:29:54,587,419,18,1,1,19,1
98,4,4,4503,3,51,2259,4,7,4742,5,...,3943,US,2019-02-22 08:06:18,4,300,77,2,1,38,3
99,3,29,3133,2,89,2085,5,35,3166,3,...,2748,US,2019-02-22 08:44:05,2,386,18,2,1,29,3